.row
  .small-2.columns
  .small-8.columns.note
    .row
      .small-9.columns
        h1 {{note.title}}
      .small-3.columns
        h3 {{note.updated_at | date}}
    .row
      .small-6.columns
        p {{note.body}}
    .row
      .small-12.columns
        .tags(ng-repeat='tag in note.tag_names') 
          p {{tag}}
    .row
      .small-12.columns
        .photos(ng-repeat='photo in note.photos')
          img(ng-src='https://s3.amazonaws.com/kjones-notetakr/{{photo}}')
  .small-2.columns
